<div class="container">
  <div class="row" *ngIf="players">
    <div class="col-lg-6">
      <div *ngFor="let player of players">
        <h2>
          {{ player.name }}
        </h2>
        <p>{{ player.age }}</p>
        <img src="{{ player.picture }}" alt="" />
        <br />
        <button
          *ngIf="auth.isAdmin()"
          [routerLink]="['/players/edit/', player._id]"
          class="btn btn-success"
        >
          Edit!
        </button>
      </div>
    </div>
  </div>
</div>
